<div class="searchBar">
      <div class="container">
        <form action="/search" class="search_form" role="search" method="post">
            <input type="search" name="searchTerm" id="searchInput" aria-level="Search" placeholder="Search the Site... here">
        </form>
        <div id="searchClose">Close</div>
      </div>  
</div>